/AndrewTatham/bin
/AndrewTatham/obj
/AndrewTatham.UnitTests/bin
/AndrewTatham.UnitTests/obj
/AndrewTatham.BehaviorTests/bin
/AndrewTatham.BehaviorTests/obj
/AndrewTatham.UnitTests/bin
/AndrewTatham.UnitTests/obj
/AndrewTatham.BattleTests/bin
/AndrewTatham.BattleTests/obj
packages/
